#navbar-transparent {
    background-color: rgba(0,0,0, 0.0) !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#navbar-transparent a {
    color: white !important;
}

.transparent-search {
    background-color: rgba(0,0,0, 0.0) !important;
    border: 0;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid white;
}

.nav-button {
    background-color: rgba(0,0,0, 0.0) !important;
    color: white !important;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.landing-page {
    text-align: center;
    color: white;
    padding-top: 45px;
}

.circle {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  font-size: 75px;
  color: white;
  line-height: 290px;
  text-align: center;
  display: inline-block;
  border: 6px solid white;
  background-color: rgba(189, 195, 199, 0.2);
}

.circle-group {
    padding-top: 30px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 75px;
}

.homepage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/homepage.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: -50px;
}

.company-info {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/img/apple.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: -50px;
}

.company-page {
    text-align: center;
    color: white;
    padding-top: 45px;
}

#company-site {
    display: block;
    margin: auto;
}

h1.survey-review,
h3.survey-review {
    letter-spacing: 10px;
    color: white;
}

h5.survey-introduction,
.radio-inline,
.survey-checkout-text {
    color: white;
    line-height: 130%;
}

.survey-text-smaller {
    color: white;
    font-size: small;
}

.survey-info {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/img/apple.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: -50px;
}
