{% extends 'base.html' %}

{% block content %}

<script src="/static/js/apple.js"></script>

<div class="container-fluid company-info">

    <div class="company">
        <h1>{{ name }}</h1><br>
    </div>

    <div class="circle-group">
        <div class="company-bubble">
            <div class="fixed-rectangle">3.0</div> <br>
            <h3>OVERALL RATING</h3><br>
        </div>
    </div><br>

    <div class="landing-page">
    <h2>Find out which company ranks best for women in tech.</h2>
    </div>

</div>

<div>
    <div class="apple-chart">
    <canvas id="barChart"></canvas>
    <div id="barLegend" class="bar-legend"></div>
<div>

</div>

{% endblock %}