{% extends 'base.html' %}

{% block content %}

<!-- <script src="/static/js/apple.js"></script> -->

<div class="container-fluid company-info">

    <div class="company-page">
        <h1>{{ name }}</h1><br>
    </div>

    <div class="circle">3.2</div><br><br>
    <h4>OVERALL RATING</h4><br><br>
    <button type="button" class="btn btn-secondary btn-lg"><h4>BREAKDOWN</h4></button>
    <button type="button" class="btn btn-secondary btn-lg"><h4>CONTRIBUTE</h4></button>
    <br>

    <div class="landing-page">
    <h2>If you've worked at {{ name}}, we would love to hear from you.</h2>
    </div>

    <div id="chart"></div>
            <script type="text/javascript">
            var myData = {{ data|tojson|safe }};
           MY_CHART = document.getElementById("chart");
           Plotly.plot(MY_CHART, 
                        myData);
        </script>
</div>



</div>



{% endblock %}