{% extends 'base.html' %}

{% block content %}

<!-- <script src="/static/js/apple.js"></script> -->

<div class="container-fluid company-info">

    <div class="company-page">
        <h1>{{ name }}</h1><br>
    </div>

    <div class="row">
    <div class="circle" id="company-site">3.2</div>
    </div>
    <br><br>
    <h4>OVERALL RATING</h4><br><br>
    <button type="button" id="breakdown" class="btn btn-secondary btn-lg"><h4>BREAKDOWN</h4></button>
    <a href="/survey">
    <button type="button"  class="btn btn-secondary btn-lg"><h4>CONTRIBUTE</h4></button>
    </a>
    <br>

    <div class="landing-page">
    <h2>If you've worked at {{ name }}, we would love to hear from you.</h2>
    </div>

    <div id="chart"></div>
        <script>
            var myData = {{ data|tojson|safe }};
            MY_CHART = document.getElementById("chart");
            Plotly.plot(MY_CHART,
                        myData); 


        </script>
</div>



</div>



{% endblock %}
