{% extends 'base.html' %}

{% block content %}


<div class="container-fluid faq">

<div class="faq-copy">

<h3>THE:RATIO has a mission to change the ratio of men and women in tech by providing transparency over company ratios and statistics. </h3>

<h3>We believe that this transparency will push companies to work harder to create women-friendly environments and ultimately improve their score. </h3>

<h3>Each tech company receives a rating score based on the following formula: </h3>

<h3>0.5(% women in tech departments) + 0.2(% all women employees) + 0.2(% women in leadership) + 0.1(employee survey avg)</h3>

<h3>In our view, companies with higher scores are more women-friendly. </h3>

</div>
</div>


{% endblock %}