{% extends 'base.html' %}

{% block content %}

<div class="container-fluid homepage" id="body-div">

    <div class="landing-page">
        <h1>THE:RATIO</h1>
        <h3>time to change it.</h3><br>
    </div>

    <div class="circle-group">
        <div class="company-bubble">
            <div class="circle">9.8</div> <br>
            <h4>Apple</h4>
        </div>
        <div class="company-bubble">
            <div class="circle">8.9</div> <br>
            <h4>Google</h4>
        </div>
        <div class="company-bubble">
            <div class="circle">7.5</div> <br>
            <h4>Facebook</h4>
        </div>
    </div><br>

    <div class="landing-page">
    <h2>Find out which company ranks best for women in tech.</h2>
    </div>

</div>

{% endblock %}