{% extends 'base.html' %}

{% block content %}

<div class="container-fluid homepage">
  <div class="row">
    <div class="col-xs-12" align="center">
    <h1 class="survey-review">REVIEW</h1>
    <h3 class="survey-review">APPLE, INC.</h3>
    <br>
    <h5 class="survey-introduction">The ratings listed on our site are derived from a combination of<br>
      diversity reporting and employee experience. If you are a current or<br>
      former employee of Apple, Inc. we would love to hear your feedback<br>
      to include it in the overall company score.</h5>
      <br>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <form id="survey-form" class="center" action="/survey-response.json" method="POST">
      <h4>How likely or unlikely are you to recommend working at Apple to a female friend?</h4>
      <table class="table" align="center">
        <tbody>
        <tr>
         <td></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="0">0</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="1">1</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="2">2</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="3">3</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="4">4</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="5">5</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="6">6</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="7">7</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="8">8</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="9">9</label></td>
         <td><label class="radio-inline"><input type="radio" name="optradio" value="10">10</label></td>
         <td></td>
      </tr>
      <tr>
        <td><span class="survey-text-smaller">Not at all likely</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="survey-text-smaller">Extremely likely<span></td>
      </tr>
    </table>
    <div id="survey-input-text">
    <h4><label for="comment">Tell us a bit more about why you chose <span id="survey-score-selected">this score</span>.</label></h4>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <div class="checkbox">
      <label><input type="checkbox"><span  class="survey-checkout-text">Check if we can share your feedback on the site</span></label>
  </div>
  </div>

  <button type="survey-submit" class="btn btn-default">Contribute</button>
    </form>
    </div>
  </div>
</div>
</div>

<script>
var score;
document.getElementById('survey-score-selected');
</script>
{% endblock %}
